@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

:root {
  --darkBlue: #050627;
  --green: #01F387;
  --pink: #5C5970;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--darkBlue);
}